<li>
	{{name}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}Eat It{{else}}Buy It{{/if}}
	</button>

	<button class="delete-cat" data-id="{{this.id}}">Update</button>
</li>
